<footer>
    <p id=""> Developed by @SraSidle &copy; </p>
    <a><i class="bi bi-twitter"></i></a>
    <a href="https://github.com/SraSidle"><i class="bi bi-github"></i></a>
    <a href="https://twitter.com/Byyahaguiar14"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.instagram.com/sra_sidle/"><i class="bi bi-instagram"></i></a>
    <a href="https://www.facebook.com/biancaaguiar.morais"><i class="bi bi-facebook"></i></a>
</footer>