<header>
    <nav>
        <img src="https://img.lovepik.com/original_origin_pic/18/11/26/9fe160c9a533bee96f06a213446c997b.png_wh860.png" alt="icon-santa-claus">
        <h1 alt="titulo-site"> Merry Christmas </h1>
        <ul>
            <li>Home</li>
            <li>Accessories</li>
            <li>Donation</li>
            <li>Contact</li>
        </ul>
    </nav>
</header>