<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <%- include('./views/head.ejs') %>
  </head>

  <body>
    <%- include('./views/header.ejs')%>
    <main>
      <section class="options-index">
        <h2>accessories</h2>
        <p>
          In the holiday seasons, send a gift to your loved one and share the
          joy of Christmas
        </p>

        <div>
          <a>Gifts</a>
          <img
            src="https://th.bing.com/th/id/OIP.QlVLVhIyqM4BySaqU7j7sQHaIg?pid=ImgDet&rs=1"
          />
          <p>They are the best gifts there is</p>
        </div>

        <div>
          <a>Ornaments</a>
          <img
            src="https://th.bing.com/th/id/R.237ec5664abc9d5b1cf3c2a641615303?rik=kEnMZIo0nyVPig&pid=ImgRaw&r=0"
          />
          <p>Give a decoration</p>
        </div>

        <div>
          <a>Candys</a>
          <img
            src="https://th.bing.com/th/id/OIP.rQZ-GyqxpTH8zgw9JGq9GAHaIO?pid=ImgDet&rs=1"
          />
          <p>Enjoy the Christmas sweets</p>
        </div>
      </section>

      <section id="donations">
        <img src="https://image.freepik.com/vetores-gratis/ilustracao-do-conceito-de-doacao-de-desenho-animado-de-menina-com-caixa-de-coracoes_76844-1613.jpg"/>

        <div>
          <h2>Celebrate with lots of love!</h2>
          <p>
            On these holidays, celebrate with lots of love and peace, offering
            many blessings to our loved ones, friends and neighbors, wishing
            them a merry christmas.
          </p>
          <div>
            <a href="/" id="present"><i class="bi bi-gift"></i></a>
            <p>Make a donation</p>
          </div>
        </div>
      </section>
    </main>

    <%- include('./views/footer.ejs') %>
  </body>
</html>
